[Unit]
Description=Simple sleeper Logger
Wants=graphical.target
After=graphical.target

[Service]
ExecStart=%h/bin/sleeper
Restart=on-failure

[Install]
WantedBy=graphical.target
