[Unit]
Description=Simple sleeper Logger
Wants=x11.target
After=x11.target

[Service]
ExecStart=%h/bin/sleeper
Restart=on-failure
Environment="DISPLAY=:0"

[Install]
WantedBy=default.target
